* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: none;
  }
  
  *::before {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  *::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
    color: #363636;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  
  body {
    font-size: 1.6rem;
    color: #363636;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  